* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir", sans-serif;
}

.message {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 380px;
  margin-block-end: 16px;
  padding: 16px 12px;
  border-radius: 8px;
  background-color: var(--message-color-background);
  color: var(--message-color-foreground);
}

.message--success {
  --message-color-background: var(
    --components-section-message-success-color-background
  );
  --message-color-foreground: var(
    --components-section-message-success-color-foreground
  );
}

.message--warning {
  --message-color-background: var(
    --components-section-message-warning-color-background
  );
  --message-color-foreground: var(
    --components-section-message-warning-color-foreground
  );
}

.message__bodyText {
  margin-block: 0;
  color: inherit;
  font-weight: 700;
}
